/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("http://fonts.googleapis.com/css?family=Lato:300,400");
@import url(http://fonts.googleapis.com/css?family=Orbitron);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

body:before {
  content: "";
  background: url("../images/bg-1.gif") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-filter: blur(5px);
  position: absolute;
  height: 110%;
  width: 110%;
  top: -5%;
  left: -5%;
  right: 0;
  bottom: 0;
}

.app-topbar {
  background: none;
  box-shadow: none;
  margin-bottom: 10px;
}
.app-topbar .app-title {
  font-size: 2em;
  background: rgba(33, 32, 34, 0.2);
}

.app-page {
  background: none;
}

.app-content {
  box-shadow: none;
  background: none;
  z-index: 4001;
}

.app-button.button-round {
  width: 50%;
  height: auto;
  line-height: initial;
  padding: 15px;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
  position: relative;
  text-align: center;
  border-radius: 30px;
  background: #6CB4D9;
  border: #ffffff 3px solid;
  color: #ffffff;
  text-transform: uppercase;
}

.app-bottombar {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0px 15px;
  background: rgba(33, 32, 34, 0.2);
}
.app-bottombar .app-button {
  width: 33%;
  float: left;
  padding: 15px 0px;
  margin: 0px;
  background: none;
}
.app-bottombar .svg-icons {
  width: 45px;
}

#app-login h1, #settings-page h1 {
  color: #ffffff;
  font-size: 3em;
  text-align: left;
}
#app-login .larger, #settings-page .larger {
  font-size: 130%;
  font-weight: bold;
  margin-bottom: 30px;
  display: block;
}
#app-login .centered, #settings-page .centered {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#app-login form input[type="text"],
#app-login form input[type="username"],
#app-login form input[type="password"], #settings-page form input[type="text"],
#settings-page form input[type="username"],
#settings-page form input[type="password"] {
  background: none;
  padding: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20%;
  margin-bottom: 10px;
  display: block;
  position: relative;
  width: 80%;
  text-align: left;
  background: rgba(33, 32, 34, 0.3);
  font-size: 0.8em;
  box-shadow: none;
  border: #ffffff 0px solid;
  color: #ffffff;
  text-transform: uppercase;
}
#app-login form input[type="text"]::-webkit-input-placeholder,
#app-login form input[type="username"]::-webkit-input-placeholder,
#app-login form input[type="password"]::-webkit-input-placeholder, #settings-page form input[type="text"]::-webkit-input-placeholder,
#settings-page form input[type="username"]::-webkit-input-placeholder,
#settings-page form input[type="password"]::-webkit-input-placeholder {
  color: #ffffff;
}
#app-login form input[type="password"]:before, #settings-page form input[type="password"]:before {
  content: "";
  position: absolute;
  left: 10%;
  background: url("../images/pass.png") no-repeat;
  height: 40px;
  width: 40px;
}
#app-login form input[type="username"]:before, #settings-page form input[type="username"]:before {
  content: "";
}
#app-login form input[type="submit"], #settings-page form input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 0px;
  background: none;
  color: #ffffff;
  border: #ffffff solid 2px;
  padding: 20px 0px;
  display: block;
  text-transform: uppercase;
  width: 100%;
  font-size: 0.8em;
}

#CommandPage h2 {
  text-align: center;
  display: block;
  font-size: 2em;
  margin-top: 30px;
}

#command-btn {
  display: block;
  position: relative;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
#command-btn img {
  border-radius: 50%;
  padding: 30px;
  background: rgba(33, 32, 34, 0.2);
}

#light_toggle span {
  text-align: center;
  font-size: 1em;
  display: block;
  margin-bottom: 1em;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
#cFeedback {
  font: bold 200% Consolas, Monaco, monospace;
  width: 16.5em;
  /* fallback */
  width: auto;
  /* # of chars */
  max-width: 0;
  /* # of chars */
  text-align: center;
  margin: 1em 1em;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Orbitron', sans-serif;
}

#cFeedback.open {
  max-width: 16ch;
  border-right: .1em solid;
  -webkit-animation: 0.5s blink-caret step-end infinite, typing 4s steps(12, end);
  /*,  # of steps = # of chars */
  animation: 0.5s blink-caret step-end infinite, typing 4s steps(12, end);
  /*,  # of steps = # of chars */
}

.toggle {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 60px;
  color: white;
  outline: 0;
  text-decoration: none;
  border-radius: 100px;
  border: 2px solid #546E7A;
  background-color: #263238;
  transition: all 500ms;
}
.toggle:active {
  background-color: #1c2429;
}
.toggle:hover:not(.toggle--moving):after {
  background-color: #455A64;
}
.toggle:after {
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 1px;
  width: calc(50% - 5px);
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  background-color: #37474F;
  border: 2px solid;
  transition: all 500ms;
}

.toggle--on:after {
  content: 'On';
  border-radius: 50px 5px 5px 50px;
  color: #66BB6A;
}

.toggle--off:after {
  content: 'Off';
  border-radius: 5px 50px 50px 5px;
  transform: translate(100%, 0);
  color: #f44336;
}

.toggle--moving {
  background-color: #1c2429;
}
.toggle--moving:after {
  color: transparent;
  border-color: #435862;
  background-color: #222c31;
  transition: color 0s, transform 500ms, border-radius 500ms,           background-color 500ms;
}

.btngroup {
  font-size: 0;
  line-height: 1;
  white-space: nowrap;
  display: block;
  text-align: center;
}
.btngroup--btn {
  font-size: 0.8rem;
  letter-spacing: .1em;
  text-decoration: none;
  text-transform: uppercase;
  background: #ffffff;
  color: #212022;
  border: 2px solid #ffffff;
  border-left-width: 2px;
  display: inline-block;
  padding: 0.3em 1.0em;
  outline: 0;
}
.btngroup--btn:first-child {
  border-left-width: 2px;
  border-radius: 2em 0 0 2em;
}
.btngroup--btn:last-child {
  border-radius: 0 2em 2em 0;
}
.btngroup--btn:visted {
  background: #ffffff;
  color: #212022;
}
.btngroup--btn:hover {
  background: transparent;
  color: #ffffff;
}
.btngroup--btn:active {
  background: transparent;
  color: #ffffff;
}

.chart {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 50%;
  left: 50%;
  margin: -225px 0 0 -225px;
}

.doughnutTip {
  position: absolute;
  min-width: 30px;
  max-width: 100px;
  padding: 5px 15px;
  border-radius: 1px;
  background: rgba(0, 0, 0, 0.8);
  color: #ddd;
  font-size: 17px;
  text-shadow: 0 1px 0 #000;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.doughnutTip::after {
  position: absolute;
  left: 50%;
  bottom: -6px;
  content: "";
  height: 0;
  margin: 0 0 0 -6px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.7);
  line-height: 0;
}

.doughnutSummary {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #d5d5d5;
  text-align: center;
  text-shadow: 0 -1px 0 #111;
  cursor: default;
}

.doughnutSummaryTitle {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -27%;
  font-size: 22px;
  letter-spacing: .06em;
}

.doughnutSummaryNumber {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -15%;
  font-size: 55px;
}

.chart path:hover {
  opacity: 0.65;
}

.current-consumption {
  text-align: center;
  margin-top: 100px;
  color: white;
  font-size: 110px;
  font-weight: bold;
}
.current-consumption h1 {
  display: inline;
}
.current-consumption span {
  display: inline;
  font-size: 20px;
}

#teamtext {
  margin-top: 20px;
  font-size: 0.5em;
  text-align: center;
  color: #ffffff;
}

#settings-page .centered {
  top: 40%;
}
#settings-page .centered h1 {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}
#settings-page form input[type="text"] {
  background: none;
  padding: 0px;
  margin-bottom: 10px;
  display: block;
  position: relative;
  padding: 15px 10%;
  width: 80%;
  text-align: left;
  background: rgba(33, 32, 34, 0.3);
  font-size: 0.8em;
  box-shadow: none;
  border: #ffffff 0px solid;
  color: #ffffff;
  text-transform: uppercase;
}
#settings-page form input[type="text"]::-webkit-input-placeholder {
  color: #ffffff;
}
#settings-page form input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 0px;
  background: none;
  color: #ffffff;
  border: #ffffff solid 2px;
  padding: 20px 0px;
  display: block;
  text-transform: uppercase;
  width: 100%;
  font-size: 0.8em;
}

/*# sourceMappingURL=style.css.map */
