#teamtext{
	margin-top: 20px;
	font-size: 0.5em;
	text-align: center;
	color: $white;
}

#settings-page{
	
	.centered{
		top: 40%;

		h1{
			font-size: 2em;
			margin-bottom: 1em;
			text-align: center;
		}
	}

	form{

		input[type="text"]{
			background: none;
			padding: 0px;
			margin-bottom: 10px;
			display: block;
			position: relative;
			padding: 15px 10%;

			width: 80%;
			text-align: left;
			background: rgba($black, 0.3);
			font-size: 0.8em;
			box-shadow: none;
			border: $white 0px solid;
			color: $white;
			text-transform: uppercase;

			&::-webkit-input-placeholder {
			   color: $white;
			}
		}

		input[type="submit"]{
			appearance: none;
			-webkit-appearance: none;
			border: none;
			border-radius: 0px;
			background: none;
			color: $white;

			border: $white solid 2px;
			padding: 20px 0px;
			display: block;
			text-transform: uppercase;
			width: 100%;

			font-size: 0.8em;
		}

	}

}